@import './base.css';
@import "tailwindcss";


body {
  background: linear-gradient(to bottom right, #111827, #1f2937, #111827);
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-y: auto; /* Only show scrollbar if needed */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
body::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Webkit */
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

/* Optional: Make the inner card smaller and centered */
.app-card {
  position: relative;
  left: 450px;
  width: 100%;
  max-width: 600px;
  background-color: #181f2a;
  border-radius: 1rem;
  padding: 2rem;
  margin: 2rem 0;
}


